<table class="table">
  <tr>
    <th></th>
    <th></th>
    <th colspan="2"></th>
  </tr>
 
<% @pdis.each do |pdi| %>
  <tr>
    <td><%= link_to pdi.nom, pdi_path(pdi), :class=>"text_table" %></td>
    <td><%= link_to 'Edit', edit_pdi_path(pdi), :class => "edit_table fa fa-pencil-square-o" %></td>
  </tr>
<% end %>
</table>

