<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
 
<% @pdis.each do |pdi| %>
  <tr>
    <td><%= pdi.id %></td>
    <td><%= pdi.nom %></td>
    <td><%= link_to 'Show', pdi_path(pdi) %></td>
    <td><%= link_to 'Edit', edit_pdi_path(pdi) %></td>
  </tr>
<% end %>
</table>

