<h1>Rutes turístiques</h1>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<table class="table">

<% @rts.each do |rt| %>
  <tr>
    <td><%= link_to rt.nom, ruta_turistica_path(rt), :class=>"text_table" %></td>
    <td><%= link_to 'Edita', edit_ruta_turistica_path(rt), :class => "edita_ruta fa fa-pencil-square-o" %></td>
  </tr>
<% end %>
</table>