<% if flash[:notice] %>
    <div style="margin-top:30px" class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<h1>Rutes turístiques</h1>

<table class="table">

<% @rts.each do |rt| %>
  <tr>
    <td><%= link_to rt.nom, ruta_turistica_path(rt), :class=>"text_table" %></td>
    <td><%= link_to 'Edita', edit_ruta_turistica_path(rt), :class => "edita_ruta fa fa-pencil-square-o" %></td>
  </tr>
<% end %>
</table>