<div id="capcalera_compte">
	<i class="fa fa-user fa-4x" style="color:#ca1496; margin-right:40px;"> <%= @usuari.nom_usuari %></i> 
	<i class="fa fa-trophy fa-3x" style="color:#e6bb0e"><%= @usuari.points %></i>
</div>

<div id="dades_personals">

</div>

<div id="badges">
<h3>Medalles</h3>
	<ul style="list-style-type:none;">
	<% @usuari.badges.each do |badge| %>
	  <li><i class="fa fa-certificate estil_medalla">&nbsp &nbsp<%= badge.name %></i></li>
	<% end %>
	</ul>
</div>

<div id="historial_info">
<h3><i class="fa fa-book"></i>  Historial d'informació afegida</h3>
<h4>Punts d'interès</h4>
-
<br>
<h4>Rutes turístiques</h4>
<table class="table">

<% @usuari.ruta_turisticas.each do |rt| %>
  <tr>
    <td><%= link_to rt.nom, ruta_turistica_path(rt), :class=>"text_table" %></td>
  </tr>
<% end %>
</table>
<br>
<h4>Valoracions</h4>
-
</div>