

<h1 style="display:none">Cerca, crea, edita. Comparteix les teves rutes.</h1>
<div id="contingut_searcher">
	<%= render :partial => '/layouts/cercador' %>
</div>

<div id="contingut_funcionament">
	<h2>Com funciona?</h2>
	<div class="div_floatejant">
		<p>1. Crea els punts d'interès si no existeixen ja. </p>
		<div style="position:relative; left: 17px;">
			<%= link_to "Crea Punt d\'interès", {:controller => "pdis", :action => "new"}, {:class => "pdis_link_to_new"} %>
		</div>
	</div>

	<div class="div_floatejant">
		<p>2. Crea una ruta turística. </p>
		<div style="position:relative; left: 17px;">
			<%= link_to "Crea Ruta turística", {:controller => "ruta_turisticas", :action => "new"}, {:class => "rts_link_to_new"} %>
		</div>
	</div>
</div>
<!--
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="http://www.wallpele.com/wp-content/uploads/2013/05/Barcelona-City-HD-Wallpaper.png" alt="Barcelona">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
-->
<div id="contingut_rel_pdi">
	<h4> Punts d'interès 
	
	</h4>
</div>

<div id="contingut_rel_rt">
	<h4> Rutes turístiques 
	
	</h4>
</div>


