/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * la carrega del jquery ui no funciona.per aixo de moment lhe posat directament a app/views/layout/application
 *= ../../../vendor/assets/stylesheets/ui-lightness/jquery-ui-1.10.4 
 
 *= require ../../../vendor/assets/stylesheets/bootstrap/css/bootstrap
 
 *= require ../../../vendor/assets/stylesheets/fontawesome/css/font-awesome

 *= require ../../../vendor/assets/stylesheets/customdropdown/css/style

 *= require ../../../vendor/assets/stylesheets/magnific-popup/css/magnific-popup
 *= require ../../../vendor/assets/stylesheets/tagit/css/jquery.tagit
 *= require ../../../vendor/assets/stylesheets/tagit/css/tagit.ui-zendesk

 *= require_self
 *= require_tree .
 */


/* COLORS */
$lila_back: #ca1496;
/*botó verdmar meu: */
$verdmar_back: #98f5e1;
$verdmar_text: #0b705a;
$verdmar_hover: #51eecc;
$gris_clar: #f5f5f5;

$boto_back: #858585;
$boto_lletra: white;
$boto_hover: #5f5f5f;


body {
  /*font-family: "Lucida Sans Unicode";*/
   font-family: "Raleway";
	/*font-family: "Raleway"; //es molt mona.centurica
  font-family: "Antic"; //m'agrada
  font-family: "Ovo"; //m'agrada
  font-family: "Quicksand"; //m'agrada
  font-family: "Nixie One"; // pels titols
  font-family: "Quattrocento Sans";
  font-family: "Josefin Sans";
  font-family: "Roboto";*/
	font-size: 12px;
  /*background-color: #eee;*/
}

.font_forcada {
  font-family: "Raleway";
}

/* BEGIN sticky footer */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 40px;
}
#footer {
  background-color: #eee;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

/* END sticky footer */

/* Estil botons */
input[type=submit] {
  background-color: $boto_back;
  border: none;
  color: $boto_lletra;
  padding: 0em 0.75em;
  cursor: pointer;
  height: 2em;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

input[type=submit]:hover, input[type=submit]:focus {
  outline: none;
  background-color: $boto_hover;
}


/* estil textbox del searcher */
.searcher {
  width: 200px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top:5px;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
  padding: 7px;
}


/* estils labels i textboxs*/
.camp_amb_errors {
  color: red;
  margin-bottom: 10px;
}

.titol_camp {
  float:left;
  width: 150px;
  margin: 5px;
  text-align: right;
}

/* no tant centrat */
.titol_camp_esq {
  float:left;
  width: 80px;
  margin: 5px;
  text-align: right;
}

.titol_camp_width {
  width: 120px;
}

.contingut_camp {
  width: 200px;
  margin-left: 40px;
  margin-top:5px;
  margin-bottom: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
}

.contingut_camp_radio {
  width: 200px;
  margin-left: 40px;
  position: relative;
  top: 4px;
}

.contingut_camp_boto {
  width: 210px;
  margin-left: 40px;
  margin-top:15px;
  margin-bottom: 5px;
  padding: 4px;
}

.contingut_camp_autocomplete {
  width: 400px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
}

/* el textbox sense caixeta, sino linia */
.textbox_linia { 
  height: 25px; 
  width: 400px; 
  background-color: transparent;  
  border-style: solid;  
  border-width: 0px 0px 1px 0px;  
  border-color: #ebebeb; 
  outline:0; 
  margin-left: 40px;
  margin-top:5px;
  margin-bottom: 5px;
} 

/* estil estrelletes */
.estil_estrelletes {
  font-size: 18px;
  color: #ffc508;
  cursor: pointer;
}

/* BEGIN Estils mapa Google Maps Api*/  
#map-canvas { 
height: 20em;
width: 55em;
}
/*END Estils mapa Google Maps Api*/


.link_capcalera, .link_capcalera_pdi, .link_capcalera_rt, .link_capcalera_pdi_active, .link_capcalera_rt_active {
  color: #858585;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.link_capcalera a {
  text-decoration: none;
}

.link_capcalera:hover {
  text-decoration: none;
  color: #ca1496;
  border-bottom-style: solid;
  border-width: 3px;
  padding-bottom: 7px;
  border-bottom-color: #ca1496;
}

.link_capcalera_pdi:hover, .link_capcalera_pdi_active:hover {
  text-decoration: none;
  color: #14caa3;
  border-bottom-style: solid;
  border-width: 3px;
  padding-bottom: 7px;
  border-bottom-color: #14caa3;
}

.link_capcalera_rt:hover, .link_capcalera_rt_active:hover {
  text-decoration: none;
  color: #ed9577;
  border-bottom-style: solid;
  border-width: 3px;
  padding-bottom: 7px;
  border-bottom-color: #ed9577;
}

.link_capcalera_pdi_active {
  text-decoration: none;
  border-bottom-style: solid;
  border-width: 3px;
  padding-bottom: 7px;
  border-bottom-color: #14caa3;
}

.link_capcalera_rt_active {
  text-decoration: none;
  border-bottom-style: solid;
  border-width: 3px;
  padding-bottom: 7px;
  border-bottom-color: #ed9577;
}
