/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * la carrega del jquery ui no funciona.per aixo de moment lhe posat directament a app/views/layout/application
 *= ../../../vendor/assets/stylesheets/ui-lightness/jquery-ui-1.10.4 


 *= require_self
 *= require_tree .
 */

body {
	font-family: "Lucida Sans Unicode";
	font-size: 12px;
}

input[type=submit] {
  background-color: #98f5e1;
  border: none;
  color: #0b705a;
  padding: 0em 0.75em;
  cursor: pointer;
  height: 2em;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

input[type=submit]:hover, input[type=submit]:focus {
  outline: none;
  background-color: #51eecc;
}


.searcher {
  width: 200px;
  margin-left: 40px;
  margin-top:5px;
  margin-bottom: 5px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
}