// Place all the styles related to the pdis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  
/* PDI#index */
.text_table {
  color: black;
}

.edita_pdi {
  color: #14caa3;
}

ul {
  list-style-type: none;
}

/*.pdis_categoritzats {
  padding: 20px;
  height: 300px;
  width: 400px;
  margin: 10px;
  border-left: solid;
  border-left-color: #14caa3;
  border-width: 3px;
  background-color: #f8f8f8;
}*/

.pdi_encapsulat {
  min-height: 300px;
  width: 210px;
  margin: 10px;
  border-left: solid;
  border-left-color: #14caa3;
  border-width: 1px;
  background-color: #f8f8f8;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.13);
  float:left;
}
.capcalera_pdi_encapsulat {
  color: white;
  background-color: #14caa3;
  font-weight: lighter;
  padding: 3px;
  font-size: 18px;
  border-top-left-radius: 6px;
}
.contingut_pdi_encapsulat {
  margin-left: 10px;
}

.encerclar_puntuacio_pdi {
  /*background-color: #ffd917;
  color: #b09300;*/
  background-color: #a6f6e5;
  color: #14caa3;
  font-weight: bold;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
  float: right;
  z-index: 1000;
  font-size: 14px;
  position: relative;
  top: -3px;
  right: 12px;
  border-bottom-left-radius: 5px;
}

.encerclar_num_rts {
  padding: 2px;
  background-color: #fbeedf;
  color: #ed9577;
  /*position: absolute;
  bottom: 7px;
  right: 15px;*/
}

.titol_pdi {
  font-size: 14px;
  text-decoration: none;
  font-weight: normal;
  color: black;
  
}

.pdi_tipus_classe {
  font-size: 10px;
}

.lloc_pdi {
  color:#797979;
  font-size: 11px;
}



/*
#pdis_restaurants {
  background-color: #dff9ee;
  padding: 20px;
  height: 300px;
  width: 400px;
  margin: 10px;
}

#pdis_botigues {
  background-color: #f8dff9;
  padding: 20px;
  height: 300px;
  width: 400px;
  margin: 10px;
}

#pdis_museus {
  background-color: #dff4f9;
  padding: 20px;
  height: 300px;
  width: 400px;
  margin: 10px;
}

#pdis_monuments {
  background-color: #f9f9df;
  padding: 20px;
  height: 300px;
  width: 400px;
  margin: 10px;
}

#pdis_discoteques {
  background-color: #f9ebdf;
  padding: 20px;
  height: 300px;
  width: 400px;
  margin: 10px;
}

#pdis_entreteniment {
  background-color: #dff9f7;
  padding: 20px;
  height: 300px;
  width: 400px;
  margin: 10px;
}


#pdis_hotels {
  background-color: #ebdff9;
  padding: 20px;
  height: 300px;
  width: 400px;
  margin: 10px;
}

#pdis_vistes {
  background-color: #e8f9df;
  padding: 20px;
  height: 300px;
  width: 400px;
  margin: 10px;
}
*/

/* PDI#new */
.allunyat {
  margin-bottom: 20px;
}

.colorejat {
  padding: 20px;
  background: #e1fcf6;
}

/* PDI#show */
.capsula_info_pdi {
  width: 200px;
  height: 240px;
  color: white;
  background-color: #14caa3;
  margin-left: 56em;
  padding: 10px;
}

.verdmar {
  color: #109e7f;
  padding:5px;
  background: #cdfaf0;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color:#89f4dc;
}
.link_verdmar {
  color: #109e7f;
  font-weight: bold;
}

.link_verdmar:hover {
  color: #15cca4;
  font-weight: bold;
}

.punts_pdi {
  color: #e6bb0e;
  border-style: dotted;
  border-width: 1px;
  padding: 7px;
  background-color: #fcf7e3;
  float: right;
}

#taula_horari {
    border-width: 1px;
    border-style: dotted;
    border-color: #1ce7bc;
    padding: 5px;
}

#taula_horari td {
  padding-right: 30px;
  padding-left: 10px; 
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #1ce7bc;
}

#taula_horari tr {
 
}

.rt_encapsulada_en_el_pdi {
  min-height: 200px;
  width: 200px;
  margin: 15px;
  border-left: solid;
  border-left-color: #ed9577;
  border-width: 1px;
  background-color: #f8f8f8;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.13);
  display: flex;
}

.pdi_proper {
  padding: 4px;
  padding-left: 5px;
  background-color: #e1fcf6;
  line-height: 2em;
  margin-bottom: 10px;
  width: 843px;
}

.pdi_proper a {
  text-decoration: none;
  color: #14caa3;
  font-size: 15px;
  margin-left: 10px;
}

/* BEGIN Estils mapa Google Maps Api*/  
/*#map-canvas { 
height: 20em;
width: 50em; 
}*/
 .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

/*END Estils mapa Google Maps Api*/




