// Place all the styles related to the ruta_turisticas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* RUTA#index */
.edita_ruta {
  color: #ed9577;
}

/* RUTA#new/edit */
.estil_num_ordre {
	color: #e46033;
	width: 20px;
	background-color: #f6cabb;
	border-style: solid;
	border-radius: 20px;
	border-width: 1px;
	border-color: #ed9577;
	padding-left: 5px;
	padding-top: 2px;
}


/* BEGIN ESTILS PEL SORTABLE DE JQUERY-UI*/
#sortable { 
	list-style-type: none; margin: 0; padding: 0; width: 60%; 
}
#sortable li { 
	margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; 
}
html>body #sortable li { 
	height: 1.5em; line-height: 1.2em; 
}
.ui-state-highlight { 
	height: 1.5em; line-height: 1.2em; 
}

/* END ESTILS PEL SORTABLE DE JQUERY-UI*/
