#capcalera_compte {
	margin-top: 50px;
}

.estil_medalla {
  color: #388b00;
  padding:5px;
  background: #d0ffb0;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color:#a2ff64;
  margin-bottom: 10px;
}