// Place all the styles related to the usuaris controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.camp_amb_errors {
  color: red;
  margin-bottom: 10px;
}

.titol_camp {
	float:left;
	margin-top: 5px;
	width: 150px;

}

.contingut_camp {
	margin-left: 20px;
}