.valoracio_encapsulada {
  background-color: white;
  padding: 3px;
  padding-left: 10px;
  padding-bottom: 13px;
  margin-bottom: 15px;
}

.val_titol {
  font-size: 16px;
  color: green;
}

.encerclar_puntuacio_val {
  background-color: #ffd917;
  color: #b09300;
  font-weight: bold;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
  float: right;
  z-index: 1000;
  font-size: 14px;
  position: relative;
  top: -3px;
  right: 12px;
  border-bottom-left-radius: 5px;
}


.val_info_extra {
  color: gray;
}

.val_opinio {
  font-size: 13px;
}